@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.knowledge {
    &__single-section {
        margin: 0 auto;
        display: block;
        padding: calculateRem(40px) 0;
        overflow: hidden;
        position: relative;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &:nth-child(2n) {
            > * {
                text-align: left;
            }
            svg[class*="main-icon"] {
                right: calculateRem(-90px);
                left: initial;
                @include media(medium) {
                    right: calculateRem(-50px);
                }
                @include media(medium) {
                    right: 0;
                }
            }
        }
        @each $property, $color in $techColors {
            $i: index(($techColors), ($property $color));
            &:nth-child(#{$i}) {
                background-color: $color;
                svg[class*="main-icon"] {
                    color: darken($color, 15);
                }
            }
        }
    }
}