@import "../assets/scss/variable";
@import "../assets/scss/mixins";
@import "../assets/scss/function";

.project-section {
    background-color: $darkBlue;
    padding: calculateRem(40px) 0 calculateRem(60px) 0;
    @include media(medium) {
        padding: calculateRem(60px) 0;
    }
    @include media(large) {
        padding: calculateRem(80px) 0;
    }
}