// COLORS
$black: #1b1c1c;
$white: #f2f2f2;
$darkBlue: #282c34;
$blue: #619ab8;
$lighBlue: #56aef8;
$green: #97C178;
$darkGreen: #79a759;
$gray: #859ca8;
$darkGray: #292929;
$lightGray: #abb2ba;
$lightRed: #ac4844;
$orange: #e07714;
$red: #953935;

$techColors: (
    php: $lighBlue, 
    wordpress: $lightRed,
    unity: $orange,
    react: $darkGreen,
    sass: $red,
    vue: $green,
);

// SIZE
$contentWidth: 1280px;