@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.main-navigation {
    display: flex;
    justify-content: space-between;
    &__wrapper {
        position: relative;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 11;
        background: red;
        top: 0;
        left: 0;
        flex-direction: column;
        text-align: left;
        display: flex;
        transform: translate(-100%, 0);
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s ease-in;
        padding: 40px 20px;
        @include media(medium) {
            padding: 0;
            visibility: visible;
            flex-direction: row;
            position: relative;
            height: auto;
            width: auto;
            background-color: transparent;
            transform: translate(0, 0);
            opacity: 1;
        }
        &--is-open {
            opacity: 1;
            transform: translate(0, 0);
            visibility: visible;
            @include media(medium) {
            }
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        @include font-size(18px);
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        &:hover,
        &:focus {
            border: 2px solid black;
        }
        @include media(medium) {
            display: none;
        }
    }
    &__image {
        display: flex;
        align-items: center;
        &-title {
            margin-left: 20px;
            padding-left: 20px;
            &::before {
                content: "";
                font-size: 50em;
                position: absolute;
                height: 100%;
                width: 2px;
                left: 0;
                top: 0;
                background: $orange;
            }
            color: $white;
            display: inline-block;
            position: relative;
            @include font-size(18px);
            font-weight: bold;
            animation: titleFadeIn 2s;
            span {
                font-weight: 300;
                letter-spacing: 0.03rem;
                @include font-size(14px);
                display: block;
                width: 100%;
            }
        }
    }
    &__button {
        border: none;
        outline: none;
        box-shadow: none;
        background-color: transparent;
        color: $white;
        cursor: pointer;
        @include font-size(16px);
        padding: 12px 8px;
        transition: color 0.25s ease;
        @include media(large) {
            padding: 18px 8px;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        &:focus,
        &:hover {
            color: $lightGray;
        }
    }
}

@keyframes titleFadeIn {
    0% {
      opacity: 0;
      padding-left: 10px;
      margin-left: 5px;
    }
    40% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
      padding-left: 20px;
      margin-left: 20px;
    }
  }
  