@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.header-banner {
  width: 100%;
  height: calc(100vh - 52px);
  min-height: -webkit-fill-available;
  position: relative;
  display: block;
  color: $white;
  @include media(large) {
    min-height: initial;
    height: 100vh;
  }

  &__content {
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 60%;
    position: absolute;
    z-index: 1;
}

&__title-section {
    background-color: rgba($color: $darkGray, $alpha: 0.6);
    // position: absolute;
    // top: 60%;
    // left: 0;
    // width: 100%;
    padding: 24px 0;
}

&__title {
    text-align: center;
    @include font-size(28px);
    @include line-height(30px);
    letter-spacing: 0.3px;
    max-width: calculateRem($contentWidth);
    padding: 0 20px;
    margin: 0 auto;
    text-shadow: 0px 0px 8px rgba($color: $black, $alpha: 0.6);
    position: relative;
    animation: fadeIn 2s;
    @include media(small) {
      @include font-size(34px);
      @include line-height(32px);
    }
    @include media(medium) {
      @include font-size(42px);
      @include line-height(46px);
    }
    @include media(large) {
      @include font-size(56px);
      @include line-height(58px);
    }
  }
&__subtitle {
    text-align: center;
    @include font-size(14px);
    @include line-height(20px);
    max-width: calculateRem($contentWidth);
    padding: 0 calculateRem(20px);
    margin: 0 auto;
    text-shadow: 0px 0px 8px rgba($color: $black, $alpha: 0.6);
    position: relative;
    animation: fadeIn 2s;
    @include media(small) {
      letter-spacing: 0.4px;
      @include font-size(16px);
      @include line-height(22px);
    }
    @include media(medium) {
      letter-spacing: 0.3px;
      @include font-size(20px);
      @include line-height(24px);
    }
    @include media(large) {
      letter-spacing: 0.7px;
      @include font-size(26px);
      @include line-height(32px);
    }
    span {
        color: $orange;
    }
  }

  &__background {
    // background-size: cover;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    // &::before {
    //   content: "";
    //   font-size: 20px;
    //   top: 0px;
    //   left: 0px;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   background-image: url(../../assets/images/textureSlider.png);
    //   mix-blend-mode: multiply;
    // }
  }

  &__button-icon-down {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 55px;
    font-size: 3rem;
    background-color: transparent;
    border: none; 
  }
  &__icon-down {
    color: $white;
    position: relative;
    transform: translate(0, -50%);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-name: bounce;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -80px;
  }
  40% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, -25px);
  }
  60% {
    transform: translate(0, -10px);
  }
}
