@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.about-me {
    display: block;
    background-color: $darkBlue;
    padding: calculateRem(20px) 0;
    @include media(medium) {
        padding: calculateRem(60px) 0;
    }
    @include media(large) {
        padding: calculateRem(60px) calculateRem(20px) calculateRem(20px) calculateRem(20px);
    }
    &__wrapper {
        display: block;
        max-width: #{calculateRem($contentWidth - 40px)};
        position: relative;
        overflow: hidden;
        @include font-size(14px);
        line-height: 1.5;
        box-sizing: border-box;
        padding: calculateRem(20px) calculateRem(15px);
        border-radius: 10px;
        margin: 0 calculateRem(10px);
        border: 2px solid rgba($color: $white, $alpha: 0.5);
        @include media(medium) {
            border-radius: 15px;
            @include font-size(18px);
            padding: calculateRem(30px) calculateRem(40px);
            margin: 0 calculateRem(20px);
        }
        @include media(large) {
            margin: 0 auto;
            border-radius: 20px;
            @include font-size(20px);
            border: 2px solid $white;
            padding: calculateRem(40px) calculateRem(60px);
        }
    }

    &__dots {
        left: 15px;
        top: -8px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 2px solid $white;
        position: relative;
        box-sizing: border-box;
        margin-bottom: calculateRem(20px);
        transition: background 250ms ease-in;
        @include media(medium) {
            left: -8px;
        }
        cursor: pointer;
        &:hover {
            background-color: $lightGray;
            &::before,
            &::after {
                background-color: $lightGray;
            }
        }
        &::after,
        &::before {
            content: "";
            font-size: 20rem;
            width: 12px;
            height: 12px;
            position: absolute;
            top: -2px;
            left: -20px;
            border-radius: 100%;
            border: 2px solid $white;
            box-sizing: border-box;
            transition: background 250ms ease-in;
        }
        &::after {
            left: 16px;
        }
    }

    &__content {
        max-width: 960px;
        color: $white;
        position: relative;
        overflow: hidden;
        padding-left: calculateRem(30px);
        @include media(medium) {
            padding-left: calculateRem(50px);
        }
        @include media(large) {
            padding-left: calculateRem(60px);
        }
        p {
            padding-bottom: 21px;
            @include media(medium) {
                padding-bottom: calculateRem(27px);
            }
            @include media(large) {
                padding-bottom: calculateRem(30px);
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        strong {
            color: $blue;
            font-weight: normal;
        }
        em {
            color: lighten($lightRed, 5);
        }
    }

    &__sideline {
        left: 0;
        text-align: right;
        opacity: 0.6;
        position: absolute;
        color: $lightGray;
    }
}