@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.about-me {
    min-height: 100vh;
    display: block;
    background-color: $darkBlue;
    padding: 80px 0;
    &__wrapper {
        display: block;
        
        max-width: calculateRem($contentWidth);
        position: relative;
        overflow: hidden;
        @include font-size(14px);
        line-height: 1.5;
        box-sizing: border-box;
        padding: 20px 15px;
        border-radius: 10px;
        margin: 0 10px;
        border: 2px solid rgba($color: $white, $alpha: 0.5);
        @include media(medium) {
            border-radius: 15px;
            @include font-size(18px);
            padding: 30px 40px;
            margin: 0 20px;
        }
        @include media(large) {
            margin: 0 auto;
            border-radius: 20px;
            @include font-size(20px);
            border: 2px solid $white;
            padding: 40px 60px;
        }
    }

    &__dots {
        left: 15px;
        top: -8px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 2px solid $white;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 20px;
        transition: background 250ms ease-in;
        @include media(medium) {
            left: -8px;
        }
        cursor: pointer;
        &:hover {
            background-color: $lightGray;
            &::before,
            &::after {
                background-color: $lightGray;
            }
        }
        &::after,
        &::before {
            content: "";
            font-size: 20rem;
            width: 12px;
            height: 12px;
            position: absolute;
            top: -2px;
            left: -20px;
            border-radius: 100%;
            border: 2px solid $white;
            box-sizing: border-box;
            transition: background 250ms ease-in;
        }
        &::after {
            left: 16px;
        }
    }

    &__content {
        max-width: 960px;
        color: $white;
        position: relative;
        overflow: hidden;
        padding-left: 30px;
        @include media(medium) {
            padding-left: 50px;
        }
        @include media(large) {
            padding-left: 60px;
        }
        p {
            padding-bottom: 21px;
            @include media(medium) {
                padding-bottom: 27px;
            }
            @include media(large) {
                padding-bottom: 30px;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        strong {
            color: $blue;
            font-weight: normal;
        }
        em {
            color: $lightRed;
        }
    }

    &__sideline {
        left: 0;
        text-align: right;
        opacity: 0.6;
        position: absolute;
        color: $lightGray;
    }
}