@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.project-detail {
    background-color: $darkBlue;
    &__wrapper {
        display: flex;
        max-width: calculateRem($contentWidth);
        margin: 0 auto;
        padding: calculateRem(80px) calculateRem(20px);
        min-height: 100vh;
        align-items: center;
        flex-wrap: wrap;
    }
    &__image-wrapper {
        max-width: 60%;
    }
    &__image {
        width: 100%;
    }
    &__title {
        @include font-size(32px);
        padding-bottom: calculateRem(24px);
        padding-top: calculateRem(12px);
    }
    &__description {
        @include font-size(14px);
        @include line-height(22px);
        font-weight: 300;
        max-width: 80%;
        p:not(:first-child) {
            margin-top: calculateRem(20px);
        }
    }
    &__content {
        padding: calculateRem(24px);
        width: 50%;
        border-radius: calculateRem(16px);
        position: relative;
        box-shadow: 0 0 8px rgba($color: $darkGray, $alpha: 0.8);
        background: lighten($color: $darkBlue, $amount: 5);
        flex-grow: 1;
        margin-left: -10%;
        margin: calculateRem(32px) 0 calculateRem(32px) -10%;
    }

    &__technology-list {
        margin-top: calculateRem(24px);
        margin-bottom: calculateRem(18px);
    }

    &__technology-list-item {
        display: inline-block;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__technology-opt-data {
        @include font-size(12px);
        @include line-height(18px);
        display: block;
        &:first-child {
            margin-top: calculateRem(24px);
        }
        a {
            color: $white;
            &:focus,
            &:hover {
                color: darken($color: $white, $amount: 5);
                text-decoration: underline;
            }
        }
    }
}
