@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.navigation-bar {
    background-color: darken($darkBlue, 5);
    box-shadow: 0 0 6px rgba($color: $black, $alpha: 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate(0, -100px);
    transition: transform 0.25s ease-in 0.2s;
    &--scroll-up {
        transform: translate(0, 0);
    }
    &__content {
        display: block;
        margin: 0 auto;
        max-width: calculateRem($contentWidth);
    }
}