@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.hamburger-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.25s ease-in;
    &:focus,
    &:active {
        box-shadow: 0 0 2px rgba($color: $white, $alpha: 0.3);
        span {
            top: 1px;
            left: 1px;
            color: darken($orange, 10);
            background: darken($orange, 10);
        }
    }
    span {
        display: block;
        font-size: 0;
        height: 3px;
        width: 30px;
        background: $orange;
        color: $orange;
        position: relative;
        &::before,
        &::after {
            content: "";
            font-size: 50rem;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -8px;
            left: 0;
            background: currentColor;
        }
        &::after {
            top: 8px;
        }
        @include media(medium) {
            display: none;
        }
    }
}