@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.knowledge {
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: calculateRem(40px) calculateRem(20px);
        max-width: calculateRem(840px);
        margin: 0 auto;
        text-align: right;
        @include media(medium) {
            padding: calculateRem(60px) calculateRem(20px);
        }
        @include media(large) {
            position: relative;
            padding: calculateRem(80px) calculateRem(20px);
        }
    }

    &__main-icon {
        position: absolute;
        margin-top: calculateRem(30px);
        left: calculateRem(-90px);
        color: darken($color: $darkBlue, $amount: 10);
        @include font-size(240px);
        opacity: 0.6;
        @include media(medium) {
            left: calculateRem(-50px);
        }
        @include media(large) {
            left: 0;
        }
    }

    &__title {
        @include font-size(24px);
        @include media(medium) {
            @include font-size(28px);
        }
        @include media(large) {
            @include font-size(32px);
        }
    }

    &__list {
        @include font-size(14px);
        padding-top: calculateRem(40px);
        z-index: 1;
        @include media(medium) {
            padding-top: calculateRem(60px);
            @include font-size(16px);
        }
        @include media(large) {
            @include font-size(18px);
        }
        &--item {
            padding: 10px;
        }
    }
}