@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";
@import "../../assets/scss/function";

.knowledge {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: calculateRem(80px) 0;
        max-width: calculateRem($contentWidth);
        margin: 0 auto;
    }

    &__main-icon {
        position: relative;
        margin-top: calculateRem(80px);
        left: calculateRem(-90px);
        color: darken($color: $darkBlue, $amount: 10);
        @include font-size(240px);
        opacity: 0.6;
    }

    &__title {
        @include font-size(32px);
    }

    &__list {
        @include font-size(18px);
        padding-top: 60px;
        &--item {
            padding: 10px;
        }
    }
}